 @font-face {
   font-family: 'MyFont';
   src: url('./fonts/造字工房尚黑.otf') format('otf');

   font-weight: 600;
   font-style: normal;
}
img{
    max-width: 100%;
}
 body{
     background:url("images/bg.png") repeat;
     overflow-y: hidden;
 }

.text-norwap{
    white-space: nowrap;
}
#main{
    width: 100%;height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
}
.height-inherit{
    height:inherit;
}

.box-border-bg{
    position: absolute;
    width: 2px;
    height:2px;
    background: #ffffff;
    float: left;
}
.box-em-bg{
    height:32%;
    position: relative;
    z-index: 101;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.box{
    height: 100%;
    border:1px solid #075297;
    margin-bottom: 0;
}
.box-body{
    height: inherit;
}
.box-border-em{
    position: absolute;
}
.box-border-top{
    max-width: 100%;
    background: url("images/light-high-top.png") no-repeat;
    width: 302px;
    height: 1px;
    top:-1px;
    left: 0;
}
 .box-border-left{
     background: url("images/light-high-left.png") no-repeat;
     height: inherit;
     width: 1px;
     top:0;
     left: -1px;
 }
.box-border-bottom{
    max-width: 100%;
    background: url("images/light-high-bottom.png") no-repeat;
    height: 1px;
    width: 302px;
    bottom:-1px;
    right: 0;
}
 .box-border-right{
     background: url("images/light-high-right.png") no-repeat;
     width: 1px;
     height: inherit;
     top:0;
     right: -1px;
 }


.bg-top-left{
    top:0;
    left:0;
}
.bg-top-right{
    top:0;
    right: 0;
}
 .bg-bottom-left{
     left: 0;
     bottom: 0;
 }
 .bg-bottom-right{
     right: 0;
     bottom: 0;
 }
 .right-box-em-bg, .right-bottom-box-em-bg{
     margin-left:0;
     margin-right: 5px;
 }
 .right-box-em-bg{
     height: 52%;
 }
 .right-bottom-box-em-bg{
     height: 45%;
 }
 /*
 *layout
 */
 .col-4{
     width: 30%;
 }
 .col-3{
     width: 23%;
 }
 .col-5{
     width: 47%;
 }
 /*
 *layout-left
  */
 .item-header,#box-three, .ir-div,.ir-div > .irregular-sum,.hl-content-title,.center-focus-title,#box-five{
     position: relative;
 }
 .item-header-img{
     width:6%;
     max-width: 30px;
     min-width: 22px;
     float: left;
 }
 .item-right{
     margin-right: 5px;
 }
 .text-init{
     color: #ffffff;
 }
 .time-border,.time-block-bg, .danwei,.hl-footer, #day-left-icon,#day-right-icon, .rb-absulte{
     position: absolute;
 }
 .time-bg{
     display: inline-block;
     position: relative;
     background:#e7b729;
     color: #ffffff;
     padding: 5% 10%;
     min-width: 70px;
     text-align: center;
     white-space: nowrap;

 }
.time-border-1{
     content: url("images/top-left.png");
     left:-1px;
     top:-1px;
 }
 .time-border-2{
     content: url("images/top-right.png");
     right:-1px;
     top:-1px;
 }
 .time-border-3{
     content: url("images/bottom-left.png");
     left:-1px;
     bottom:-1px;
 }
 .time-border-4{
     content: url("images/bottom-right.png");
     right:-1px;
     bottom:-1px;
 }
.time-block-bg{
    display: inline-block;
    right: 0;
    top: -4px;
}

 .clearfix{zoom:1}
 .clearfix:after{
     content:".";
     display:block;
     height:0;
     clear:both;
     visibility:hidden;
 }

 /* 用电量 */
 /*
 *chart
 */
 #barUseDiv,#pieUseDiv,#pieSumDiv,#creatEletricDiv{
     width: 100%;
     height:calc(90%);
 }
 #creatlineDiv{
     width: 100%;
     height:calc(45%);
 }


 .item-header-img-icon{
     width: 7%;
 }
 .time-bg-blue{
     background: #00b7ee;
     font-size: 17px;
     right: 0;
     padding-right:35px;
     border-radius: 3px;
     max-height: 32px;
     min-width:105px;
     overflow: hidden;

 }
 .span-unit{
     width: 40px;
     height: 40px;
     line-height: 40px;
     position: absolute;
     display: inline-block;
     font-size: 12px;
     padding-left: 5px;
     top:-4px;
     right: -8px;
     text-align: left;
     background: #4accf3;
     /*padding:5% 8%;*/
     border-top-left-radius: 50%;
     border-bottom-left-radius: 50%;
 }
 .item-header-company-icon{
     width: 10%;
 }
 #box-for{
     padding-right:0;
     position: relative;
 }
 .time-bg-init{
     background: #043f8a;
     color: #d84052;
     font-size: 17px;
 }
 .danwei{
     bottom: -5px;
     right: -5px;
     text-align: right;
     font-size: 10px;
 }
 #box-three{
     padding-top: 2%;
 }
 .ir-div{
     padding-top:2%;
 }
 .ir-div > .irregular-sum{
     z-index: 1;
    text-align: center;
 }
 .ir-div > img{
     position: absolute;
     z-index: 0;
     top: 0;
     left: 20%;
     width: 60%;
     min-width: 80px;
 }
 .text-center{
     text-align: center;
 }
 em{
     font-style: normal;
 }
 .text-empre{
     margin-bottom: 0;
     white-space: nowrap;
 }
 .text-empre span{
     display: inline-block;
     font-size: 2.6rem;
 }
 .hl-progress{
     margin-bottom: 2%;
 }
 .hl-progress-bar > .hl-progress-bar-title{
     font-size:3rem;
     float: left;
     margin-right: 4%;
 }
 .hl-progress-bar-name{
     padding-top: 2%;
     float: left;
     line-height: 16px;
     font-size: 12px;
 }
 .hl-progress-bar-name em{
     display: block;
     font-size: 14px;
 }
 /*
 *content
 */
 .hl-content-title,.hl-footer{
     z-index: 101;
 }
 .hl-content-title{
     letter-spacing: 2px;
 }
 .title-img-em{
     width:8px;
     height: 22px;
 }
 #contentTittle{
     font-size: 15px;
 }
 .cloud-title-img{
     width: 30px;
     margin-left: 10px;
 }
 .hl-footer-inner{
     bottom: 0;
     left: 0;
 }
 .hl-footer{
     width: 100%;
  }
 .hl-footer-inner{
     font-size: 12px;
 }
 .hl-footer-inner > p{
     margin-bottom: 3px;
 }
 .hl-footer-inner-title{
     font-size: 18px;
     margin-right: 5px;
 }
 .hl-footer-Div > .hl-footer-item{
     font-family: 'MyFont';
     font-size: 40px;
     margin-right: 2px;
 }
 .time-block-change.time-block-bg{
     position: relative;
 }
 .time-block-change{
    top:0;
 }
 .center-focus-title{
     text-align: center;
     margin-top: 3%;
     height: 30px;
 }
 #day-left-icon,#day-right-icon{
    top:5px;
 }
 #day-left-icon {
     left: -15px;
 }
 #day-right-icon{
     right:-15px;
 }

 .time-block-change .time-bg-init{
   font-size: 14px;
     min-width: 88px;
 }
 .especial-right-bg{
     border-bottom-left-radius:60px;
 }
 #especial-corner{
     position: absolute;
     left: 0;
     bottom:-2%;
 }
 #especial-corner img{
     width:150px;
 }
 .danwei-power{
     bottom: 5px;
     right: 0;
 }
 .rhombus{
     width: 55%;
     height: 40%;
     float: right;
     position: relative;
 }

 .rb-item{
     text-align: center;
     position: relative;
     padding-left: 4px;
     padding-right: 4px;
     line-height: 16px;
 }
 .rb-1{
     background:#f0bd26;
 }
 .rb-2{
     background:#ec6941;
 }
 .rb-3{
     background:#00b7ee;
     margin-top: 10%;
     float: left;
     margin-left: 15%;
 }
 .rb-1 .rb-absulte-top{
     top: -18.89px;
 }
 .rb-1 .rb-absulte-top img{
     vertical-align:initial;
 }
 .rb-item .rb-absulte-top,.rb-item .rb-absulte-bottom{
     left: 0;
 }
 .rb-item .rb-absulte{
     width: 100%;
 }
 .rb-item .rb-absulte-bottom{
     bottom: -18.89px;
 }
 .font-12{
     font-size: 12px;
 }


 /*
 *节能减排
 */
 #box-five, #creatPowerDiv{
     padding:2%;
     height: 45%;
     width: 100%;
 }
 #box-five{
    padding: 2% 4%;
 }
 #creatPowerDiv{
     height: 55%;
     padding-left: 0;
     padding-right: 0;
 }
 #creatPowerDiv > p, .reduce-emission p,.rb-item p{
     margin-bottom: 0;
 }
 #creatPowerDiv > p{
     float: left;
 }

 .reduce-item{
   padding-left: 2px;
     padding-right: 2px;
 }
 .reduce-item > .reduce-item-title,.reduce-item .item-small{
   font-size: 12px;
 }

 .reduce-item-1 em{
     font-size:14px;
 }
 .reduce-item-2 em{
     font-size:16px;
 }
 .reduce-item-3 em{
     font-size:14px;
 }
.reduce-item em{
    margin-right: 2px;
}
.reduce-item img{
    width:60%;
}
.rb-item   .rb-absulte >img{
    width: 100%;
}
